{% extends "templates/layout.html" %}

{% block body %}
  <section class="section-wrapper question-wrapper">
    <form action="/tests/{{test._id}}/questions/next" method="POST">
      <h2>
        {{question.title}}
      </h2>

      <p class="question-detail">
        <strong>Explicación:</strong>
        {{question.description}}
      </p>

      {% for answer in question.answers %}
        <div class="posible-answer row">
          <div class="large-12 columns">
            <label>
              <input type="hidden" name="answerId" value={{answer._id}}>
              <input type="checkbox" name="answer"> {{answer.description}}
            </label>
          </div>
        </div>
      {% endfor %}

      <div class="row">
        <div class="large-12 columns text-right">
          <button class="button small success round">Enviar Respuesta</button>
        </div>
      </div>
    </form>

    <nav class="test-question-navigation pagination-centered">
      <ul class="pagination" data-page="{{questionIndex}}">
        {% for page in range(1, test.questions.length + 1) %}
          <li class="{{'current' if (page == (questionIndex + 1)) else 'unavailable' }}">
            <a href="#">{{page}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endblock %}
