// application layout
// @author: Jonathan Samines <jn.samines@gmail.com>
// @version: 1.0.0

@import '_settings';

@import 'foundation/components/top-bar';
@import 'foundation/components/inline-lists';
@import 'foundation/components/grid';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/buttons';
@import 'foundation/components/clearing';
@import 'foundation/components/dropdown';
@import 'foundation/components/forms';
@import 'foundation/components/labels';
@import 'foundation/components/pagination';
@import 'foundation/components/tables';
@import 'foundation/components/type';
@import 'foundation/components/visibility';

@mixin test-component {
  .question-wrapper {
    .posible-answer label {
      font-size: 1rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

html body {

  .application-wrapper {
    background-color: $white;
    padding-top: 15px;

    @include grid-row;

    .application-content {
      padding: 5px 20px;
      @include grid-column($columns: 12);

      .section-wrapper {
        padding: 5px 10px;

        h2 {
          border-left: 2px solid $secondary-color;
          padding-left: 10px;
        }
      }

      @include test-component;
    }
  }

  > nav {
    .umg-logo {
      background-image: url('/public/images/umg-logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      height: 40px;
      margin-right: 10px;
      width: 40px;
      vertical-align: middle;
      display: inline-block;
    }
    a {
      vertical-align: middle;
      display: inline-block;
    }
  }

  > footer {
    .umg-logo {
      background-image: url('/public/images/umg.edu.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: inline-block;
      height: 50px;
      margin: 0px 0px 0px 10px;
      vertical-align: middle;
      width: 50px;
    }
    a {
      color: $steel!important;
      border-bottom: 1px dotted $iron;
      display: inline-block!important;
      vertical-align: middle;
    }
  }
}
