{% extends "templates/layout.html" %}

{% block body %}
  <section class="section-wrapper foro-wrapper">
    <h2>Foro de Estudiantes</h2>

    <div class="content">
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <link rel="stylesheet" href="//cdn.muut.com/1/moot.css">
      <script src="//cdn.muut.com/1/moot.min.js"></script>
      <a id="my-community" href="https://muut.com/i/proyecto-calculo"></a>

      <script>
      $('#my-community').muut({
        api: {
          key: 'xUWOYWLHln',
          message: '{{message}}',
          signature: '{{signature}}',
          timestamp: {{timestamp}}
        }
      })
      </script>
    </div>
  </section>
{% endblock %}
