{% extends "templates/layout.html" %}
{% import "macros/alerts.html" as components %}

{% block body %}
  <section class="section-wrapper test-list">
    {{ components.alertbox(loginSuccess[0], 'success') }}

    <h2>
      <small class="label radius secondary">{{tests.length}}</small>
      Mis pruebas asignadas
    </h2>

    {% for test in tests %}
      <article class="test-item clearfix">
        <h3>{{test.title}}</h3>
        <p>{{test.description}}</p>

        <span class="test-tags left">
          <strong>#</strong>
          <strong class="label secondary round">{{test.author.fullName}}</strong>
          <strong class="label secondary round">{{test.creationDate}}</strong>
          <strong class="label info round">{{test.value}}</strong>
        </span>

        <span class="test-action right">
          <a href="/tests/{{test.id}}" class="button success tiny radius">Iniciar Prueba</a>
        </span>
      </article>
    {% endfor %}
  </section>
{% endblock %}
