{% extends "templates/layout.html" %}

{% block body %}
  <section class="section-wrapper test-list">
    <article class="test-item">
      <h3>Quiz name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia blanditiis expedita tempora animi, optio at natus consequuntur cupiditate possimus! Ducimus accusamus illum fugiat dicta praesentium, sequi facere delectus dignissimos animi.</p>
      <strong>Created by: Jonathan Samines</strong>

      <div class="test-action">
        <a href="/test/2" class="button success tiny radius">Start test</a>
      </div>
    </article>
  </section>
{% endblock %}
