{% extends "templates/layout.html" %}
{% import "macros/alerts.html" as components %}

{% block body %}
  <section class="section-wrapper test-list">
    {{ components.alertbox(loginSuccess[0], 'success') }}

    <h2>My assigned tests</h2>

    <article class="test-item clearfix">
      <h3>Quiz name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia blanditiis expedita tempora animi, optio at natus consequuntur cupiditate possimus! Ducimus accusamus illum fugiat dicta praesentium, sequi facere delectus dignissimos animi.</p>

      <span class="test-tags left">
        <strong>#</strong>
        <strong class="label secondary round">Jonathan Samines</strong>
        <strong class="label secondary round">10/20/2014</strong>
      </span>

      <span class="test-action right">
        <a href="/test/2" class="button success tiny radius">Start test</a>
      </span>
    </article>

    <article class="test-item clearfix">
      <h3>Quiz name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia blanditiis expedita tempora animi, optio at natus consequuntur cupiditate possimus! Ducimus accusamus illum fugiat dicta praesentium, sequi facere delectus dignissimos animi.</p>

      <span class="test-tags left">
        <strong>#</strong>
        <strong class="label secondary round">Jonathan Samines</strong>
        <strong class="label secondary round">10/20/2014</strong>
      </span>

      <span class="test-action right">
        <a href="/test/2" class="button success tiny radius">Start test</a>
      </span>
    </article>
  </section>
{% endblock %}
