{% extends "templates/layout.html" %}

{% block body %}
  <section class="section-wrapper nosotros-wrapper">
    <h2>¿Quiénes somos?</h2>
    <br>

    <article class="group">
      <img class="logo" src="/public/images/umg.edu.png" width="200px" height="200px">
      <p class="description">
        Somos un grupo de estudiantes de la <i>Facultad de Ingeniería en Sistemas de Información</i> de la <strong>Universidad Mariano Gálvez de Guatemala</strong>,
        que tiene como propósito ayudar a otros estudiantes en su incursión con temas relacionados a la asignatura de Cálculo II impartida por ésta universidad,
        concretamente en el tema <strong>Cálculo de varias variables</strong>.
      </p>
    </article>

    <hr>

    <article class="group">
      <h4>Misión</h4>
      <p>
        Somos un grupo de estudiantes universitarios que desea apoyar a sus compañeros y demas personas con algunos temas dificiles sobre <i>Calculo Diferencial e Integral</i>
        por ser Cálculo II un curso complejo, por lo que queremos proporcionar información sobre algunos de los temas vistos durante el curso de Cálculo II.
      </p>
      <p>
        Tenemos por misión ser una fuente de información confiable, que ayude a las personas a aprender sobre <i>Funciones de dos o más variables</i> para el curso de Cálculo II, a través de la lectura teórica sobre el tema y el refuerzo a través de un conjunto de ejercicios especialmente diseñados para reforzar los conocimientos aprendidos.
      </p>
    </article>

    <hr>

    <article class="group">
      <h4>Visión</h4>
      <p>
        Deseamos apoyar a los estudiantes de Ingeniería en Sistemas de Información y en general a todos aquellos estudiantes que cursan Cálculo II, a aprender de una forma sencilla los conceptos relacionados al Cálculo integral y diferenial a través de un sistema sencillo de evaluación en el que podrán reforzar sus conocimientos.
      </p>
    </article>

    <hr>

    <article class="group">
      <h4>Justificación</h4>
      <p>
        Este proyecto lo hemos hecho con el fin de aprender del tema función de una o más variables, y que las personas que no conozcan del tema puedan tener una guía mejor al entrar a nuestra página y así poder obtener un conocimiento más amplio de ella.
      </p>
    </article>

    <hr>

    <article class="group">
      <h4>Objetivos</h4>
      <ol>
        <li>Facilitar el aprendizaje de Cálculo Diferencial e Integral</li>
        <li>Ayudar a los alumnos de Ingeniería en Sistemas a aprender sobre funciones de variables variables.</li>
        <li>Reforzar los conocimientos aprendidos durante el curso de Calculo II</li>
        <li>Resolver dudas pendientes que los alumnos puedan tener</li>
        <li>Evaluar los conocimientos adquiridos al leer el material aquí presentado.</li>
      </ol>
    </article>

    <hr>

    <article class="group">
      <h4>Integrantes del grupo</h4>

      <ul class="medium-block-grid-3">
        <li>
          <figure>
            <img src="/public/images/student/jonathan-samines.jpeg" width="120px" height="140px" />
            <figcaption>
              <h5>Jonathan Raí Samines Solares</h5>
              <i>6590-13-3813</i>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/public/images/student/kevin-gil.jpg" width="120px" height="140px" />
            <figcaption>
              <h5>Kevin Arturo Ruiz Hernández</h5>
              <i>6590-14-5740</i>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/public/images/student/bryan-ruiz.png" width="120px" height="140px" />
            <figcaption>
              <h5>Bryan Isaí Ruiz Guerrero</h5>
              <i>6590-14-10486</i>
            </figcaption>
          </figure>
        </li>
      </ul>
    </article>
  </section>
{% endblock %}
