{% extends "templates/layout.html" %}
{% import "macros/input.html" as forms %}
{% import "macros/alerts.html" as components %}

{% block body %}
  <section class="section-wrapper register-wrapper">
    <form action="/register" method="POST">
      <h3>Registro de Usuario</h3>

      <div class="row">
        <div class="large-12 columns">
          {{ forms.input(
            name='username',
            type='text',
            label='Nombre de usuario',
            placeholder='Nombre de usuario',
            validation=validations.username,
            value=model.username,
            required=true
          )}}
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          {{ forms.input(
            name='firstName',
            type='text',
            label='Nombre completo',
            placeholder='Nombre completo',
            validation=validations.firstName,
            value=model.firstName,
            required=true
          )}}
        </div>

        <div class="large-6 columns">
          {{ forms.input(
            name='lastName',
            type='text',
            label='Apellidos',
            placeholder='Apellidos',
            validation=validations.lastName,
            value=model.lastName
          )}}
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          {{ forms.input(
            name='email',
            type='text',
            label='Correo de Universidad Mario Gálvez',
            placeholder='Correo de estudiante. ej usuario@miumg.edu.gt',
            validation=validations.email,
            value=model.email,
            required=true
          )}}
        </div>

        <div class="large-6 columns">
          {{ forms.input(
            name='carnet',
            type='text',
            label='Carné de estudiante',
            placeholder='Carnét de estudiante (####-##-####)',
            validation=validations.carnet,
            value=model.carnet,
            required=true
          )}}
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          {{ forms.input(
            name='password',
            type='password',
            label='Contraseña',
            placeholder='Contraseña segura',
            validation=validations.password,
            value=model.password,
            required=true
          )}}
        </div>

        <div class="large-6 columns">
          {{ forms.input(
            name='repeat_password',
            type='password',
            label='Repetir Contraseña',
            placeholder='Repetir contraseña',
            validation=validations.repeat_password,
            value=model.repeat_password,
            required=true
          )}}
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <p class="text-right">
            ¿Ya tienes una cuenta? <a href="/login" title="Iniciar Sesión">Inicia sesión</a>
          </p>
        </div>
      </div>

      {{ components.alertbox(message, 'alert') }}

      <div class="row">
        <div class="large-12 columns">
          <button class="button success small radius">Registrar usuario</button>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
