<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{application.name}} - {{application.course}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/components/icheck/skins/square/blue.css">
  <link rel="stylesheet" href="/public/css/application.css" media="screen">
  <link href="/public/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

  <script async src="/public/components/modernizr/modernizr.js"></script>
</head>
<body>
  {% include "templates/header.html" %}

  <section class="application-wrapper">
    <section class="application-content">
      {% block body %}
      {% endblock %}
    </section>
  </section>

  {% include "templates/footer.html" %}

  <!--  public assets include -->
  <script src="/public/components/jquery/dist/jquery.js"></script>
  <script src="/public/components/icheck/icheck.js"></script>
  <script src="/public/components/foundation/js/foundation/foundation.js"></script>
  <script src="/public/components/foundation/js/foundation/foundation.topbar.js"></script>
  <script src="/public/components/foundation/js/foundation/foundation.alert.js"></script>
  <script src="/public/js/application.js"></script>
</body>
</html>
